*{
 font-family: 'Poppins', sans-serif;
}
.input{
 padding: 0 0 0 30px;

}
.navbar-nav{
  padding-left: 60px;
}
.form-control{
 width: 190px;
}
.crear{
 margin: 0 0 0 250px;
}
.iniciar{
 margin: 0 0 0 300px;
}
.acceder{
 float:right;
 margin: 10px;
}
.regis{
 padding-top: 17px;
}
footer{
  border-top-color:black;
 margin-top:200px; 
 margin-left:20px;
 display:flex;
}

.logo{
 margin-top:20px;
}

.list-group-flush{
 list-style:none;
 color:grey;
}
.abuelito{
display: flex;
justify-content:space-around;
}
.papa{
	margin: 20px 0 20px 0;
	width:175px;
	height:175px;
}

.inicio img{
    width: 850px;
    height: auto;
}
.inicio{
    display: flex;
    justify-content: space-between;

}
.card{
    margin: 100px;
    border: none;
}
.divertido img{
    min-width: 700px;
   height: 600px;
   margin-left: 30px;
}
.divertido{
    display: flex;
}
h3{
    font-size: 35px;
}
.facil img{
    min-width: 750px;
    height: 550px;
    margin-right: 30px;
}
.facil{
display: flex;
}
.poderoso img{
    min-width: 700px;
   height: 600px;
   margin-left: 30px;
}
.poderoso{
    display: flex;
}
.preg img{
    min-width: 750px;
    height: 550px;
    margin-right: 30px;
}
.preg{
    display: flex;
}
.texto{
    text-align: center;
}
.pasos{
    margin: 10px 15px 0 15px;
    padding: 10px;
}
.pasos2{
    margin-left: 120px;
}
.pasos2 h6{
    font-size: 20px;
    color: black;
}
.pasos2 h5{
    font-size: 30px;
}
form{
  padding: 15px;
}
#tipos{
 margin-bottom: 100px;
}
.margen{
	margin: 4px;
}
.blancoynegro {
  filter: grayscale(100%);
}
.opacidad{
	filter: opacity(70%);
}
.saturacion {
	filter: saturate(800%);
}
.sepia{
	filter: sepia(100%);
}
.contraste{
	filter: contrast(200%);
}
.brillo{
	filter: brightness(150%);
}
.todos{
	filter: grayscale(100%) opacity(30%) saturate(800%) sepia(100%) contrast(200%) brightness(150%);
}
.rotar{
	filter: hue-rotate(90deg);
}
.sombra{
  filter: drop-shadow(8px 8px 10px gray);
}
.invertir{
  filter: invert(100%);
}
.redes{
    display: flex;
    margin-top:50px;
}
.fa-2x{
    padding: 6px;
}
.idiomas{
    padding: 3px 4px;
    margin: 6px;
}
.derecha{
padding-left: 100px;
}
.izquierda{
    font-size: 20px;
    display: grid;
}
.bb{
   display: block;
   margin: 5px;
}
.a{
padding: 7px;
}
.izquierda input{
  margin-right: 7px;
}
.el h4{
    text-align: center;
    margin: 30px;
 }
.boton{
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}
/*.girar:{
  transform
}*/
.tablero{
  background-color: grey;
  padding-top: 7px;
}
.ccc label{
  color: white;
}